In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"bank-full.csv")
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1.0,-1.0,0.0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1.0,-1.0,0.0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1.0,-1.0,0.0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1.0,-1.0,0.0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1.0,-1.0,0.0,unknown,no

In [3]:
df.shape

(37902, 17)

In [4]:
df_working = df.copy()

In [5]:
df_working['y'].value_counts()

y
no     35326
yes     2575
Name: count, dtype: int64

In [6]:
df_working.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37902 entries, 0 to 37901
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        37902 non-null  int64
 1   job        37902 non-null  object
 2   marital    37902 non-null  object
 3   education  37902 non-null  object
 4   default    37902 non-null  object
 5   balance    37902 non-null  int64
 6   housing    37902 non-null  object
 7   loan       37902 non-null  object
 8   contact    37902 non-null  object
 9   day        37902 non-null  int64
 10  month      37902 non-null  object
 11  duration   37902 non-null  int64
 12  campaign   37901 non-null  float64
 13  pdays      37901 non-null  float64
 14  previous   37901 non-null  float64
 15  poutcome   37901 non-null  object
 16  y          37901 non-null  object
dtypes: float64(3), int64(4), object(10)
memory usage: 4.9+ MB

In [7]:
df_working.describe().T

,count,mean,std,min,25%,50%,75%,max
age,37902.0,40.774445,9.598387,19.0,33.0,39.0,48.0,95.0
balance,37902.0,1271.518627,2873.266389,-8019.0,52.0,406.0,1316.0,98417.0
day,37902.0,16.008601,8.365139,1.0,8.0,17.0,21.0,31.0
duration,37902.0,255.774788,260.234044,0.0,100.0,175.0,314.0,4918.0
campaign,37901.0,2.905306,3.294127,1.0,1.0,2.0,3.0,63.0
pdays,37901.0,27.834886,84.587741,-1.0,-1.0,-1.0,-1.0,371.0
previous,37901.0,0.369040,2.074364,0.0,0.0,0.0,0.0,275.0

In [8]:
df_working.duplicated().sum()

np.int64(0)

In [9]:
df_working.isna().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     1
pdays        1
previous     1
poutcome     1
y            1
dtype: int64

In [10]:
df_working.select_dtypes(exclude=np.number).columns

Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'month', 'poutcome', 'y'],
      dtype='object')

In [11]:
df_working['job'].value_counts()
#the admin. - admin
#replace the Unknown values with Mode to fill in

job
blue-collar      8831
management       7803
technician       6526
admin.           4178
services         3678
retired          1397
entrepreneur     1347
self-employed    1346
unemployed       1068
housemaid        1057
student           442
unknown           229
Name: count, dtype: int64

In [12]:
df_working['education'].value_counts()

education
secondary    19835
tertiary     10623
primary       5980
unknown       1464
Name: count, dtype: int64

In [13]:
#your Homework : Handle the Unknowns with Central tendency - Beingdone by TG
# do the Same handling of Unknown with Group by multiple other Categorical Variables
df_working

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1.0,-1.0,0.0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1.0,-1.0,0.0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1.0,-1.0,0.0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1.0,-1.0,0.0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1.0,-1.0,0.0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37897,41,blue-collar,married,secondary,no,427,yes,yes,cellular,14,may,177,2.0,-1.0,0.0,unknown,no
37898,36,services,single,secondary,no,-267,yes,no,cellular,14,may,99,7.0,352.0,1.0,failure,no
37899,33,technician,married,secondary,no,318,yes,no,cellular,14,may,108,4.0,342.0,14.0,other,no
37900,32,blue-collar,married,secondary,no,169,yes,no,cellular,14,may,291,2.0,-1.0,0.0,unknown,no
37901,39,management,divorced,tertiary,no,126,no,no,cellular,14,may,170,NaN,NaN,NaN,NaN,NaN

In [16]:
df_working['job'].replace({'admin.':'admin'},inplace=True)

In [19]:
df_working['job'].value_counts()

job
blue-collar      8831
management       7803
technician       6526
admin            4178
services         3678
retired          1397
entrepreneur     1347
self-employed    1346
unemployed       1068
housemaid        1057
student           442
unknown           229
Name: count, dtype: int64

In [20]:
import numpy as np
df_working['job'].replace({'unknown':np.nan},inplace=True)
df_working['education'].replace({'unknown':np.nan},inplace=True)

<ipython-input-20-838f2372eeb6>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_working['education'].replace({'unknown':np.nan},inplace=True)

In [21]:
df_working['job'].isna().sum()

np.int64(229)

In [22]:
df_working['education'].isna().sum()

np.int64(1464)

In [24]:
df_working['job'].fillna(df_working['job'].mode()[0],inplace=True)

In [25]:
df_working['job'].value_counts()

job
blue-collar      9060
management       7803
technician       6526
admin            4178
services         3678
retired          1397
entrepreneur     1347
self-employed    1346
unemployed       1068
housemaid        1057
student           442
Name: count, dtype: int64

In [26]:
8831+229

9060

In [27]:
df_working['education'].fillna(df_working['education'].mode()[0],inplace=True)

In [28]:
df_working['education'].value_counts()

education
secondary    21299
tertiary     10623
primary       5980
Name: count, dtype: int64

In [29]:
1464+19835

21299

In [30]:
#replace with  Na for the unknown Value
# Fill na with Mode Value



#replacing the Unknown with the Mode value
df_working['job'] = df_working['job'].replace({'unknown':df_working['job'].mode()[0]})

In [32]:
df_working['job'].mode()[0]

'blue-collar'

In [ ]:
#outliers
IQR - Inter QuarterBegin
Q3 - Q1

Fence  : 1.5 * IQR
Lower Fence = Q1 - Fence
Upper Fence = Q3 + Fence

In [35]:
import numpy as np
for col_name in df_working.select_dtypes(include=np.number).columns:
  print(col_name)
  q1 = df_working[col_name].quantile(0.25)
  q3 = df_working[col_name].quantile(0.75)
  IQR = q3 - q1
  low = q1 - 1.5*IQR
  high = q3 + 1.5*IQR
  print("low",low)
  print("high",high)
  print("outliers = ",df_working.loc[(df_working[col_name]<low)|((df_working[col_name]>high)),col_name])
  df_working.loc[(df_working[col_name]<low)|(df_working[col_name]>high),col_name] = df_working[col_name].median()

#howework , Group by some categorical columns and then fill the Outliers with Meidan Values.

age
low 10.5
high 70.5
outliers =  29158    83
29261    75
29263    75
29322    83
29865    75
         ..
33815    71
33827    72
33846    77
33860    73
34128    85
Name: age, Length: 79, dtype: int64
balance
low -1844.0
high 3212.0
outliers =  34       10635
65        6530
69       12223
70        5935
186       4384
         ...
37867     4527
37868     8821
37873     7863
37887     6089
37893     3309
Name: balance, Length: 4066, dtype: int64
day
low -11.5
high 40.5
outliers =  Series([], Name: day, dtype: int64)
duration
low -221.0
high 635.0
outliers =  37       1666
43       1492
53        787
59       1778
61        812
         ...
37811    1723
37870     691
37873    1129
37890     685
37896     668
Name: duration, Length: 2825, dtype: int64
campaign
low -2.0
high 6.0
outliers =  758       7.0
780       8.0
906       7.0
1103      8.0
1105      7.0
         ...
37762     9.0
37792    15.0
37823    10.0
37829     7.0
37898     7.0
Name: campaign, Length: 2882, dtype: float64
pdays
low -1.0
high -1.0
outliers =  24060    151.0
24062    166.0
24064     91.0
24072     86.0
24077    143.0
         ...
37881    339.0
37883    370.0
37895    177.0
37898    352.0
37899    342.0
Name: pdays, Length: 4578, dtype: float64
previous
low 0.0
high 0.0
outliers =  24060     3.0
24062     1.0
24064     4.0
24072     4.0
24077     3.0
         ...
37881     2.0
37883     1.0
37895     7.0
37898     1.0
37899    14.0
Name: previous, Length: 4578, dtype: float64

In [37]:
numerical_d = df_working.select_dtypes(include=np.number)

In [36]:
df_working

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1.0,-1.0,0.0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1.0,-1.0,0.0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1.0,-1.0,0.0,unknown,no
3,47,blue-collar,married,secondary,no,1506,yes,no,unknown,5,may,92,1.0,-1.0,0.0,unknown,no
4,33,blue-collar,single,secondary,no,1,no,no,unknown,5,may,198,1.0,-1.0,0.0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37897,41,blue-collar,married,secondary,no,427,yes,yes,cellular,14,may,177,2.0,-1.0,0.0,unknown,no
37898,36,services,single,secondary,no,-267,yes,no,cellular,14,may,99,2.0,-1.0,0.0,failure,no
37899,33,technician,married,secondary,no,318,yes,no,cellular,14,may,108,4.0,-1.0,0.0,other,no
37900,32,blue-collar,married,secondary,no,169,yes,no,cellular,14,may,291,2.0,-1.0,0.0,unknown,no
37901,39,management,divorced,tertiary,no,126,no,no,cellular,14,may,170,NaN,NaN,NaN,NaN,NaN

In [38]:
numerical_d
#homework - Handle these Null Values

       age  balance  day  duration  campaign  pdays  previous
0       58     2143    5       261       1.0   -1.0       0.0
1       44       29    5       151       1.0   -1.0       0.0
2       33        2    5        76       1.0   -1.0       0.0
3       47     1506    5        92       1.0   -1.0       0.0
4       33        1    5       198       1.0   -1.0       0.0
...    ...      ...  ...       ...       ...    ...       ...
37897   41      427   14       177       2.0   -1.0       0.0
37898   36     -267   14        99       2.0   -1.0       0.0
37899   33      318   14       108       4.0   -1.0       0.0
37900   32      169   14       291       2.0   -1.0       0.0
37901   39      126   14       170       NaN    NaN       NaN

[37902 rows x 7 columns]

In [39]:
numerical_d.describe().T

            count        mean         std     min    25%    50%    75%     max
age       37902.0   40.695847    9.454106    19.0   33.0   39.0   48.0    70.0
balance   37902.0  555.679225  740.760007 -1818.0   53.0  406.0  779.0  3211.0
day       37902.0   16.008601    8.365139     1.0    8.0   17.0   21.0    31.0
duration  37902.0  197.086724  133.661758     0.0  100.0  175.0  258.0   635.0
campaign  37901.0    2.168993    1.283615     1.0    1.0    2.0    3.0     6.0
pdays     37901.0   -1.000000    0.000000    -1.0   -1.0   -1.0   -1.0    -1.0
previous  37901.0    0.000000    0.000000     0.0    0.0    0.0    0.0     0.0

In [40]:
from sklearn.preprocessing import StandardScaler
#Z methodology (x-Mu/sigma)

std_scale = StandardScaler()
df_std = std_scale.fit_transform(numerical_d)
df_std

array([[ 1.83035621,  2.14285558, -1.31602675, ..., -0.91071567,
         0.        ,  0.        ],
       [ 0.34949857, -0.71100784, -1.31602675, ..., -0.91071567,
         0.        ,  0.        ],
       [-0.81403244, -0.74745737, -1.31602675, ..., -0.91071567,
         0.        ,  0.        ],
       ...,
       [-0.81403244, -0.32086284, -0.24011886, ...,  1.42646448,
         0.        ,  0.        ],
       [-0.91980798, -0.52201026, -0.24011886, ..., -0.13165562,
         0.        ,  0.        ],
       [-0.17937916, -0.58005952, -0.24011886, ...,         nan,
                nan,         nan]])

In [43]:
numerical_df = pd.DataFrame(df_std,columns=numerical_d.columns)
numerical_df

            age   balance       day  duration  campaign  pdays  previous
0      1.830356  2.142856 -1.316027  0.478178 -0.910716    0.0       0.0
1      0.349499 -0.711008 -1.316027 -0.344806 -0.910716    0.0       0.0
2     -0.814032 -0.747457 -1.316027 -0.905931 -0.910716    0.0       0.0
3      0.666825  1.282917 -1.316027 -0.786224 -0.910716    0.0       0.0
4     -0.814032 -0.748807 -1.316027  0.006833 -0.910716    0.0       0.0
...         ...       ...       ...       ...       ...    ...       ...
37897  0.032172 -0.173715 -0.240119 -0.150282 -0.131656    0.0       0.0
37898 -0.496706 -1.110603 -0.240119 -0.733853 -0.131656    0.0       0.0
37899 -0.814032 -0.320863 -0.240119 -0.666517  1.426464    0.0       0.0
37900 -0.919808 -0.522010 -0.240119  0.702628 -0.131656    0.0       0.0
37901 -0.179379 -0.580060 -0.240119 -0.202654       NaN    NaN       NaN

[37902 rows x 7 columns]

In [44]:
numerical_d

       age  balance  day  duration  campaign  pdays  previous
0       58     2143    5       261       1.0   -1.0       0.0
1       44       29    5       151       1.0   -1.0       0.0
2       33        2    5        76       1.0   -1.0       0.0
3       47     1506    5        92       1.0   -1.0       0.0
4       33        1    5       198       1.0   -1.0       0.0
...    ...      ...  ...       ...       ...    ...       ...
37897   41      427   14       177       2.0   -1.0       0.0
37898   36     -267   14        99       2.0   -1.0       0.0
37899   33      318   14       108       4.0   -1.0       0.0
37900   32      169   14       291       2.0   -1.0       0.0
37901   39      126   14       170       NaN    NaN       NaN

[37902 rows x 7 columns]

In [45]:
Catyegrical_d = df_working.select_dtypes(exclude=np.number)

In [47]:
Catyegrical_d.marital.value_counts()

marital
married     23401
single       9981
divorced     4520
Name: count, dtype: int64

In [ ]:
One Hot encoding
marital_Married , Martial_single ,Marital_Divorced
1                    0              0
0                    1              0
0                    0              1

In [ ]:
#label_encode
marital
0	23401
1	9981
2	4520

In [48]:
categorical_proceesed = pd.get_dummies(Catyegrical_d)

In [49]:
categorical_proceesed

,job_admin,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,month_mar,month_may,month_nov,month_oct,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown,y_no,y_yes
0,False,False,False,False,True,False,False,False,False,False,...,False,True,False,False,False,False,False,True,True,False
1,False,False,False,False,False,False,False,False,False,True,...,False,True,False,False,False,False,False,True,True,False
2,False,False,True,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,True,True,False
3,False,True,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,True,True,False
4,False,True,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37897,False,True,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,True,True,False
37898,False,False,False,False,False,False,False,True,False,False,...,False,True,False,False,True,False,False,False,True,False
37899,False,False,False,False,False,False,False,False,False,True,...,False,True,False,False,False,True,False,False,True,False
37900,False,True,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,True,True,False
37901,False,False,False,False,True,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False